.header__lang-link {
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: 1s;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}
