.cover__subtitle {
  margin: 32px auto 0 auto;
  padding: 0;
  max-width: 360px;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-rendering: optimizeLegibility;
  z-index: 2;
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    line-height: 16pxpx;
    font-size: 16px;
    max-width: 388px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    margin: 16px auto 0 auto;
    max-width: 291px;
    line-height: 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    line-height: 16px;
    font-size: 14px;
    max-width: 288px;
  }
}
