.cover__subtitle {
  position: absolute;
  top: 429px;
  left: 412px;
  margin: 0;
  padding: 0;
  max-width: 360px;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-rendering: optimizeLegibility;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    top: 379px;
    left: 332px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    top: 299px;
    left: 204px;
  }
}

@media screen and (max-width: 540px) {
  .cover__subtitle {
    top: 230px;
    left: 76px;
    line-height: 16pxpx;
    font-size: 16px;
    max-width: 388px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    top: 150px;
    left: 67px;
    max-width: 291px;
    line-height: 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    top: 119px;
    left: 16px;
    line-height: 16px;
    font-size: 14px;
    max-width: 288px;
  }
}
