.lead__title {
  max-width: 720px;
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  margin: 56px auto 0 auto;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 695px) {
  .lead__title {
    line-height: 50px;
    font-size: 52px;
    max-width: 490px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 52px;
    max-width: 390px;
  }
}

@media screen and (max-width: 360px) {
  .lead__title {
    max-width: 288px;
    line-height: 44px;
    font-size: 40px;
  }
}
