.footer__links {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: 1fr;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 640px) {
  .footer__links {
    grid-template-columns: min-content;
    gap: 32px;
  }
}
