.cover__title {
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 560px;
  z-index: 2;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
  .cover__title {
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
  }
}

@media screen and (max-width: 540px) {
  .cover__title {
    line-height: 50px;
    font-size: 48px;
    max-width: 388px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 291px;
    line-height: 35px;
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    line-height: 35px;
    font-size: 32px;
    max-width: 288px;
  }
}
