.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  grid-area: website;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
    margin: 0 0 0 16px;
  }
}
